.header, h1, h2, h3, h4 {
    font-weight: normal;
    margin: 10px 0 -10px;
    letter-spacing: -1px;
}

.header {
    font-weight: bold;
    font-size: 2em;
    padding-bottom:5%;
}

.actions {
    display:none;
}

h1 {
    padding-top: 2%;
    font-size: 1.75em;
    border-bottom: 1px solid lightgrey;
    text-shadow: 1px 1px white;
}

h2 {
    font-size: 1.4em;
    margin-bottom: -2%;
    font-style: italic;
}

body {
    font: 1.25em Georgia, serif;
    font-size:125%;
    margin: 0 auto;
    color: #303030;
    width: 50%;
    padding-top: 3%;
}

a {
    text-decoration: none;
    color: #3d5882;
}

a:hover {
    color: #6692d9;
}

blockquote {
    font-style: italic;
}

.pagefooter {
    font-size: small;
    color: #ccc;
}
